body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 420px;
    padding: 40px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.card h1 {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
    color: #1e293b;
}

.subtitle {
    margin-bottom: 25px;
    color: #64748b;
}

.card h2 {
    margin-bottom: 25px;
    color: #1e293b;
}

.btn {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    background: #f8fafc;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.primary {
    background: #4f46e5;
    color: white;
    border: none;
}
.input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
}
/* ===== DASHBOARD LAYOUT ===== */
.layout{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 220px;
    height: 100vh;
    background: #1e2a78;
    color: white;
    padding: 20px;
}

.sidebar .logo{
    margin-bottom: 40px;
}

.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 16px;
}

.main{
    flex: 1;
    padding: 30px;
    background: #f5f7fb;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn{
    background: #4a54e1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.card-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.exam-list{
    display: flex;
    gap: 20px;
}

.exam-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.exam-card button{
    margin-top: 10px;
    background: #4a54e1;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
